<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <general>
            <file>
                <bunch_size>100</bunch_size>
            </file>
        </general>
        <indexer>
            <indexing>
                <enabled>1</enabled>
            </indexing>
        </indexer>
        <importer>
            <configuration>
                <failed_import_threshold>4</failed_import_threshold>
                <use_cron_to_run_steps>0</use_cron_to_run_steps>
            </configuration>
            <logs>
                <enable_clearing>1</enable_clearing>
                <delete_older_than>90</delete_older_than>
                <cron_schedule>0 23 1 * *</cron_schedule>
            </logs>
        </importer>
    </default>
</config>
