<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_import_bunch_save_after">
        <observer name="catalog_product_after_save"
                  instance="MageSuite\Importer\Observer\AfterProductsBunchSaveObserver"/>

        <observer name="update_image_file_sizes"
                  instance="MageSuite\Importer\Observer\UpdateImageFileSizes"/>

        <observer name="end_transaction_for_product_bunch"
                  instance="MageSuite\Importer\Observer\EndTransactionForProductBunch"/>
    </event>

    <event name="catalog_product_import_bunch_processing_before">
        <observer name="begin_transaction_for_product_bunch"
                  instance="MageSuite\Importer\Observer\BeginTransactionForProductBunch"/>

        <observer name="catalog_product_import_process_one_to_many_values"
                  instance="MageSuite\Importer\Observer\ImportProductsBunchObserver"/>
    </event>

    <event name="catalog_product_import_finish_before">
        <observer name="send_notification_with_silent_errors"
                  instance="MageSuite\Importer\Observer\SendNotificationAboutSilentErrors"/>
    </event>

    <event name="import_command_executes">
        <observer name="command_executes_observer"
                  instance="MageSuite\Importer\Observer\Command\CommandExecutesObserver"/>
        <observer name="log_server_status_before_command_execution"
                  instance="MageSuite\Importer\Observer\Command\LogServerStatusBeforeCommandExecution"/>
    </event>

    <event name="import_command_done">
        <observer name="command_done_observer" instance="MageSuite\Importer\Observer\Command\CommandDoneObserver"/>
    </event>

    <event name="import_command_error">
        <observer name="command_error_observer"
                  instance="MageSuite\Importer\Observer\Command\CommandErrorObserver"/>
        <observer name="command_error_mail_observer"
                  instance="MageSuite\Importer\Observer\Command\CommandErrorMailObserver"/>
        <observer name="command_error_indexer_observer"
                  instance="MageSuite\Importer\Observer\Command\CommandErrorIndexerObserver"/>
    </event>
</config>
